<!--
  Aqui teremos mais o menos a seguinte estrutura

  Reps da Serie | Exercicio
                | Exercicio
                | Exercicio

  Mas as repetições da serie, só serão exibidas se forem maiores do que 1
 -->


<div class="row row-list">
  <div class="col-xs-2">
    <div [hidden]="repsSerie < 2" class="bg-success">   
     {{repsSerie}}X
    </div>
  </div>
  <div class="col-xs-9 bg-info">
    <div *ngFor="let exercicio of exercicios"  >
       <exercicio metragem={{exercicio.metragem}} descritivo={{exercicio.descritivo}} repeticoes={{exercicio.repeticoes}} ></exercicio>
    </div>
  </div>
  <!--
  <div *ngIf="repsSerie > 1"  class="col-xs-2">
     {{repsSerie}}X
  </div>
  <div *ngFor="let exercicio of exercicios"  class="col-xs-10">
       <exercicio metragem={{exercicio.metragem}} descritivo={{exercicio.descritivo}} repeticoes={{exercicio.repeticoes}} ></exercicio>
  </div>
  -->
</div> 