<div class="container center-block" >
<section  class="col-md-4">
  <div class="form-group">
    <h2 class="text-center">Exercício</h2>
    
    <div class="input-group">
      <input type="number" name="repeticoes" [(ngModel)]="exercicio.repeticoes" class="form-control" placeholder="Repetições">
      <div class="input-group-addon">Vezes</div>
        <input type="number" class="form-control" [(ngModel)]="exercicio.metragem" placeholder="Metragem">
      <div class="input-group-addon">M</div>
    </div>
    
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="exercicio.descritivo" placeholder="Braço c/Palmar">
    </div>
    <button type="button" (click)="adicionaExercicio()" class="btn btn-primary">Adicionar na série</button>
  </div>
</section>

<section class="col-md-4">
  <div class="form-group">
    <h2 class="text-center">Série</h2>
    <div class="input-group">
      <input type="number" name="repsSerie" [(ngModel)]="serie.repsSerie" class="form-control" placeholder="Repetir série">
      <div class="input-group-addon">Vezes</div>
    </div>
    <serie></serie>
    <button  class="btn btn-primary" (click)="adicionaSerieNoTreino()">Adicionar no treino</button>
  </div>
</section>
<section class="col-md-4">
  <div class="form-group">
    <h2 class="text-center">Treino</h2>
    <treino></treino>
    <button  class="btn btn-primary">Salvar treino</button>
  </div>
</section>

</div>

